body{
    margin: 0;
    background: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    min-height: 100vh;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area{
    border:1px solid lightgray;
}

.task-tabs{
    display: flex;
    border-bottom:1px solid lightgray;
    position: relative;
}

.task-tabs .task-item{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: red;
    position: absolute;
    width: 0px;
    left:0px;
    top:56px;
    padding:0px;
    transition: 0.5s;
}

.task{
    display: flex;
    justify-content: space-between;
}

.task-content{
    width: 100%;
    padding:1em; 
}
.task-done{
    text-decoration: line-through;
    background-color: rgba(0, 0, 0, 0.1);
}
.button-wrap{
    min-width: 150px;
    text-align: right;
    display: flex;
}
.button-wrap div{
    display: flex;
    margin: 0;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.fa-arrow-rotate-left:hover{
    background-color: rgba(255, 255, 27, 0.87)
}
.fa-circle-check:hover{
    background-color: rgba(127, 255, 212, 0.8);
}
.delete-button:hover{
    background-color: rgb(255, 0, 0, 0.5);
}